Split Workshop puts working feature flags into your own hands: a basket of HTML/JS examples to illustrate Split\'s features and functionality.  You can download the examples using the link in this email.  Refer to the bundled README.html for more information.  <p>Download with this link <a href="$$DOWNLOAD_URL$$">download your personalized HTML/JS samples</a></p>
